In [1]:
import pandas as pd
import numpy as np
import re 
from collections import Counter

In [2]:
df=pd.read_csv("clean_data.csv")

In [3]:
df.shape

(1350, 3)

In [4]:
df.head()

   user_id subscription_type                           user_journey
0     1516            Annual                  Homepage-Log in-Other
1     3395            Annual                                  Other
2    10107            Annual                               Homepage
3    11145           Monthly                        Homepage-Log in
4    12400           Monthly  Homepage-Career tracks-Sign up-Log in

In [5]:
df.tail()

      user_id subscription_type  user_journey
1345   509060            Annual         Other
1346   509061            Annual        Coupon
1347   509085            Annual        Coupon
1348   509095            Annual         Other
1349   509096            Annual  Other-Coupon

In [6]:
df['subscription_type'].unique()

array(['Annual', 'Monthly', 'Quarterly'], dtype=object)

In [7]:
df[df['subscription_type']=='Annual']['subscription_type'].shape

(931,)

#### function to filter out data via subcription type

In [8]:
def filter_vai_subcription(data,filter="all",target_column='subscription_type'):
    df=data.copy()
    
    if filter=="all":
        mask=df
    else:
        mask=data[data[target_column]==filter]
    return mask

In [9]:
filter_vai_subcription(df,filter='Annual')

      user_id subscription_type           user_journey
0        1516            Annual  Homepage-Log in-Other
1        3395            Annual                  Other
2       10107            Annual               Homepage
7       15630            Annual                 Log in
9       19458            Annual       Homepage-Sign up
...       ...               ...                    ...
1345   509060            Annual                  Other
1346   509061            Annual                 Coupon
1347   509085            Annual                 Coupon
1348   509095            Annual                  Other
1349   509096            Annual           Other-Coupon

[931 rows x 3 columns]

#### creating a function for splitting the user_journry into a list

In [10]:
def split_user_jpurney(data,target_column='user_journey'):
    data[target_column]=data[target_column].str.split("-")
    return data

In [11]:
df=split_user_jpurney(df)
df

      user_id subscription_type                                user_journey
0        1516            Annual                   [Homepage, Log in, Other]
1        3395            Annual                                     [Other]
2       10107            Annual                                  [Homepage]
3       11145           Monthly                          [Homepage, Log in]
4       12400           Monthly  [Homepage, Career tracks, Sign up, Log in]
...       ...               ...                                         ...
1345   509060            Annual                                     [Other]
1346   509061            Annual                                    [Coupon]
1347   509085            Annual                                    [Coupon]
1348   509095            Annual                                     [Other]
1349   509096            Annual                             [Other, Coupon]

[1350 rows x 3 columns]

## Metrices

#### Page Count

In [12]:
def page_count(data,target_column='user_journey',subcription_type='all',sort=False):
    if subcription_type=='all':
        data=filter_vai_subcription(data=data,filter='all')
    else:
        data=filter_vai_subcription(data=data,filter=subcription_type)
        
    all_pages=[]
    for i in data[target_column]:
        for j in range(len(i)):
            all_pages.append(i[j])
    
    counts=Counter(all_pages)
    counts['Total Count']=sum(counts.values())

    page_count_df=pd.DataFrame(list(counts.items()),columns=['Pages','Count'])
    page_count_df=page_count_df.sort_values(by='Count',ascending=sort)
    page_count_df.reset_index(drop=True,inplace=True)
    return page_count_df

In [13]:
page_count(df,subcription_type='all',sort=False)

                       Pages  Count
0                Total Count   3282
1                   Homepage    634
2                    Sign up    480
3                      Other    417
4                    Courses    344
5              Career tracks    326
6                    Pricing    298
7                     Coupon    205
8   Career track certificate    170
9                     Log in    168
10        Course certificate     75
11          Resources center     61
12                  Checkout     56
13          Upcoming courses     31
14                      Blog      6
15               Instructors      5
16           Success stories      5
17                  About us      1

#### Page Presence

In [14]:
def page_presence(data,target_column='user_journey',subcription_type='all',sort=False):
    if subcription_type=='all':
        data=filter_vai_subcription(data=data,filter='all')
    else:
        data=filter_vai_subcription(data=data,filter=subcription_type)
        
    all_pages=[]
    for i in data[target_column].apply(lambda x : list(set(x))):
        for j in range(len(i)):
            all_pages.append(i[j])
    
    counts=Counter(all_pages)
    counts['Total Count']=sum(counts.values())
    counts['Total Journey']=data.shape[0]
    
    page_presence_df=pd.DataFrame(list(counts.items()),columns=['Pages','Count'])
    page_presence_df=page_presence_df.sort_values(by='Count',ascending=sort)
    page_presence_df.reset_index(drop=True,inplace=True)
    return page_presence_df

In [15]:
page_presence(df,subcription_type="all")

                       Pages  Count
0                Total Count   2817
1              Total Journey   1350
2                   Homepage    525
3                    Sign up    434
4                      Other    411
5                    Courses    273
6                    Pricing    251
7              Career tracks    217
8                     Coupon    205
9                     Log in    162
10  Career track certificate    124
11        Course certificate     66
12          Resources center     54
13                  Checkout     52
14          Upcoming courses     27
15               Instructors      5
16                      Blog      5
17           Success stories      5
18                  About us      1

#### Get page Set

In [16]:
def get_page_set(data=df,target_column='user_journey'):
    lis=[]
    for i in data[target_column].apply(lambda x : list(set(x))):
        for j in i : lis.append(j)
    return list(set(lis))

In [17]:
get_page_set()

['Other',
 'Course certificate',
 'Log in',
 'Courses',
 'Career tracks',
 'Sign up',
 'Instructors',
 'Upcoming courses',
 'Pricing',
 'Checkout',
 'Resources center',
 'Success stories',
 'About us',
 'Coupon',
 'Career track certificate',
 'Homepage',
 'Blog']

#### Page Destination

In [53]:
def page_destination(data=df,target_column='user_journey',subcription_type='all',sort=False):
    
    if subcription_type!='all':
        data=filter_vai_subcription(data=df,filter=subcription_type)
    
    results = {}
    # Iterate over each journey in the 'user_journey' column of the DataFrame
    for journey in data[target_column]:
        for i in range(len(journey) - 1):
            page_source = journey[i]
            page_next = journey[i + 1]
            
            # Initialize the nested dictionary if page_source is not already a key
            if page_source not in results:
                results[page_source] = {}
            
            # Update the count for the transition from page_source to page_next
            results[page_source][page_next] = results[page_source].get(page_next, 0) + 1
            
    # sorting the nested dictionary
    if sort:
        sorted_results={}
        for page in results:
            unsorted_dict=results[page]
            sorted_keys = sorted(unsorted_dict,key=unsorted_dict.get,reverse=False)
            sorted_results[page]={key: unsorted_dict[key] for key in sorted_keys}
        return sorted_results
    else:
        sorted_results={}
        for page in results:
            unsorted_dict=results[page]
            sorted_keys = sorted(unsorted_dict,key=unsorted_dict.get,reverse=True)
            sorted_results[page]={key: unsorted_dict[key] for key in sorted_keys}
        
        return sorted_results

In [56]:
page_destination(data=df,target_column='user_journey',subcription_type='Annual',sort=False)

{'Homepage': {'Pricing': 90,
  'Sign up': 69,
  'Career tracks': 69,
  'Courses': 66,
  'Career track certificate': 31,
  'Log in': 28,
  'Course certificate': 10,
  'Resources center': 9,
  'Upcoming courses': 3,
  'Other': 3,
  'Blog': 1,
  'Instructors': 1,
  'Coupon': 1},
 'Log in': {'Sign up': 14, 'Other': 4, 'Homepage': 2, 'Pricing': 1},
 'Pricing': {'Checkout': 34,
  'Sign up': 34,
  'Courses': 25,
  'Career track certificate': 18,
  'Career tracks': 11,
  'Resources center': 11,
  'Homepage': 7,
  'Log in': 6,
  'Upcoming courses': 4,
  'Course certificate': 4,
  'Blog': 1},
 'Courses': {'Sign up': 45,
  'Career tracks': 36,
  'Pricing': 19,
  'Career track certificate': 11,
  'Homepage': 9,
  'Course certificate': 6,
  'Resources center': 5,
  'Upcoming courses': 5,
  'Log in': 3,
  'Blog': 1,
  'Other': 1,
  'Success stories': 1},
 'Sign up': {'Homepage': 20,
  'Log in': 11,
  'Career tracks': 11,
  'Courses': 10,
  'Pricing': 8,
  'Career track certificate': 8,
  'Upcoming courses': 1},
 'Resources center': {'Other': 14,
  'Career tracks': 5,
  'Pricing': 5,
  'Log in': 4,
  'Courses': 4,
  'Homepage': 3,
  'Course certificate': 3,
  'Career track certificate': 3,
  'Sign up': 1,
  'Instructors': 1},
 'Career tracks': {'Sign up': 42,
  'Courses': 41,
  'Career track certificate': 21,
  'Homepage': 20,
  'Pricing': 17,
  'Upcoming courses': 5,
  'Course certificate': 4,
  'Other': 3,
  'Resources center': 1,
  'Success stories': 1,
  'Instructors': 1},
 'Instructors': {'Pricing': 1, 'Courses': 1},
 'Other': {'Log in': 10,
  'Coupon': 10,
  'Sign up': 8,
  'Career track certificate': 8,
  'Courses': 7,
  'Career tracks': 7,
  'Resources center': 5,
  'Pricing': 4,
  'Course certificate': 3,
  'Blog': 1,
  'Success stories': 1},
 'Upcoming courses': {'Courses': 5,
  'Pricing': 3,
  'Career tracks': 2,
  'Resources center': 2,
  'Log in': 1,
  'Other': 1,
  'Career track certificate': 1,
  'Course certificate': 1},
 'Course certificate': {'Courses': 14,
  'Career track certificate': 10,
  'Pricing': 4,
  'Sign up': 3,
  'Resources center': 3,
  'Homepage': 2,
  'Upcoming courses': 2,
  'Other': 1,
  'Career tracks': 1},
 'Career track certificate': {'Career tracks': 38,
  'Sign up': 20,
  'Course certificate': 13,
  'Courses': 11,
  'Pricing': 6,
  'Resources center': 6,
  'Homepage': 4,
  'Log in': 1,
  'Coupon': 1,
  'Success stories': 1},
 'Checkout': {'Pricing': 13, 'Homepage': 6},
 'Blog': {'Other': 4, 'Courses': 1},
 'Coupon': {'Homepage': 1},
 'Success stories': {'Homepage': 1, 'Career tracks': 1, 'About us': 1},
 'About us': {'Homepage': 1}}

### Page Sequnce

In [75]:
def page_sequnce(data=df,target_column='user_journey',sequnce=3,subcription_type='all',sort=False):
    if subcription_type!='all':
        data=filter_vai_subcription(data=df,filter=subcription_type)

    results={}
    for i in data[target_column]:
        flag={}
        
        for j in range(len(i)-sequnce+1):
            page_combination=tuple(i[j:j +sequnce])
            
            if flag.get(page_combination,False):continue
            
            results[page_combination]=results.get(page_combination,0)+1
            flag[page_combination]=True
    # return results
    if sort:
        sorted_keys=sorted(results,key=results.get,reverse=False)
        sorted_result={key:results[key] for key in sorted_keys}
        return sorted_result
    else:
        sorted_keys=sorted(results,key=results.get,reverse=True)
        sorted_result={key:results[key] for key in sorted_keys}
        return sorted_result

In [78]:
page_sequnce(data=df,sequnce=4,subcription_type='Monthly',sort=False)

{('Career tracks', 'Courses', 'Career tracks', 'Courses'): 5,
 ('Homepage', 'Career tracks', 'Homepage', 'Career tracks'): 5,
 ('Courses', 'Career tracks', 'Courses', 'Career tracks'): 4,
 ('Homepage', 'Pricing', 'Courses', 'Career tracks'): 3,
 ('Career track certificate',
  'Career tracks',
  'Career track certificate',
  'Career tracks'): 3,
 ('Homepage', 'Career tracks', 'Courses', 'Career tracks'): 3,
 ('Courses', 'Sign up', 'Courses', 'Sign up'): 3,
 ('Homepage', 'Pricing', 'Checkout', 'Pricing'): 3,
 ('Career tracks', 'Homepage', 'Career tracks', 'Homepage'): 3,
 ('Career tracks', 'Homepage', 'Career tracks', 'Sign up'): 3,
 ('Homepage', 'Other', 'Homepage', 'Pricing'): 2,
 ('Homepage', 'Sign up', 'Homepage', 'Career tracks'): 2,
 ('Career tracks', 'Courses', 'Career tracks', 'Sign up'): 2,
 ('Pricing',
  'Career track certificate',
  'Course certificate',
  'Career track certificate'): 2,
 ('Career tracks', 'Courses', 'Career tracks', 'Homepage'): 2,
 ('Career tracks', 'Homepage', 'Career tracks', 'Courses'): 2,
 ('Homepage', 'Career tracks', 'Courses', 'Sign up'): 2,
 ('Career track certificate', 'Career tracks', 'Courses', 'Career tracks'): 2,
 ('Homepage', 'Courses', 'Career tracks', 'Sign up'): 2,
 ('Homepage', 'Courses', 'Pricing', 'Sign up'): 2,
 ('Homepage', 'Pricing', 'Career tracks', 'Sign up'): 2,
 ('Homepage', 'Career track certificate', 'Career tracks', 'Sign up'): 2,
 ('Sign up', 'Homepage', 'Career tracks', 'Sign up'): 2,
 ('Homepage',
  'Career track certificate',
  'Sign up',
  'Career track certificate'): 2,
 ('Career track certificate',
  'Sign up',
  'Career track certificate',
  'Pricing'): 2,
 ('Homepage', 'Course certificate', 'Sign up', 'Course certificate'): 2,
 ('Course certificate', 'Sign up', 'Course certificate', 'Pricing'): 2,
 ('Homepage', 'Pricing', 'Courses', 'Career track certificate'): 2,
 ('Pricing', 'Courses', 'Pricing', 'Sign up'): 2,
 ('Career tracks', 'Upcoming courses', 'Courses', 'Sign up'): 2,
 ('Homepage', 'Career tracks', 'Sign up', 'Career tracks'): 2,
 ('Career tracks', 'Sign up', 'Career tracks', 'Sign up'): 2,
 ('Homepage', 'Courses', 'Homepage', 'Sign up'): 2,
 ('Homepage', 'Career tracks', 'Sign up', 'Log in'): 1,
 ('Pricing', 'Sign up', 'Pricing', 'Sign up'): 1,
 ('Pricing', 'Courses', 'Career track certificate', 'Pricing'): 1,
 ('Career tracks', 'Courses', 'Sign up', 'Log in'): 1,
 ('Courses', 'Pricing', 'Homepage', 'Career tracks'): 1,
 ('Pricing', 'Homepage', 'Career tracks', 'Courses'): 1,
 ('Homepage', 'Pricing', 'Homepage', 'Other'): 1,
 ('Pricing', 'Homepage', 'Other', 'Homepage'): 1,
 ('Homepage',
  'Course certificate',
  'Upcoming courses',
  'Course certificate'): 1,
 ('Course certificate',
  'Upcoming courses',
  'Course certificate',
  'Upcoming courses'): 1,
 ('Upcoming courses',
  'Course certificate',
  'Upcoming courses',
  'Career tracks'): 1,
 ('Course certificate',
  'Upcoming courses',
  'Career tracks',
  'Career track certificate'): 1,
 ('Upcoming courses',
  'Career tracks',
  'Career track certificate',
  'Courses'): 1,
 ('Career tracks', 'Career track certificate', 'Courses', 'Log in'): 1,
 ('Homepage', 'Career tracks', 'Pricing', 'Log in'): 1,
 ('Career tracks', 'Pricing', 'Log in', 'Sign up'): 1,
 ('Homepage', 'Courses', 'Course certificate', 'Courses'): 1,
 ('Pricing', 'Sign up', 'Log in', 'Sign up'): 1,
 ('Other', 'Pricing', 'Career track certificate', 'Course certificate'): 1,
 ('Career track certificate',
  'Course certificate',
  'Career track certificate',
  'Sign up'): 1,
 ('Course certificate',
  'Career track certificate',
  'Sign up',
  'Career track certificate'): 1,
 ('Career track certificate',
  'Sign up',
  'Career track certificate',
  'Sign up'): 1,
 ('Homepage', 'Log in', 'Other', 'Sign up'): 1,
 ('Log in', 'Other', 'Sign up', 'Log in'): 1,
 ('Other', 'Career tracks', 'Courses', 'Sign up'): 1,
 ('Homepage', 'Pricing', 'Career track certificate', 'Course certificate'): 1,
 ('Career track certificate',
  'Course certificate',
  'Career track certificate',
  'Career tracks'): 1,
 ('Course certificate',
  'Career track certificate',
  'Career tracks',
  'Career track certificate'): 1,
 ('Homepage', 'Sign up', 'Homepage', 'Course certificate'): 1,
 ('Sign up', 'Homepage', 'Course certificate', 'Career track certificate'): 1,
 ('Homepage', 'Course certificate', 'Career track certificate', 'Courses'): 1,
 ('Course certificate',
  'Career track certificate',
  'Courses',
  'Career tracks'): 1,
 ('Courses', 'Career tracks', 'Homepage', 'Career tracks'): 1,
 ('Homepage', 'Career tracks', 'Courses', 'Homepage'): 1,
 ('Career tracks', 'Courses', 'Homepage', 'Career tracks'): 1,
 ('Courses', 'Homepage', 'Career tracks', 'Homepage'): 1,
 ('Career tracks', 'Homepage', 'Career tracks', 'Career track certificate'): 1,
 ('Pricing', 'Courses', 'Career tracks', 'Upcoming courses'): 1,
 ('Homepage', 'Career tracks', 'Pricing', 'Courses'): 1,
 ('Career tracks', 'Pricing', 'Courses', 'Sign up'): 1,
 ('Courses', 'Career tracks', 'Sign up', 'Career tracks'): 1,
 ('Career tracks', 'Sign up', 'Career tracks', 'Pricing'): 1,
 ('Sign up', 'Career tracks', 'Pricing', 'Career track certificate'): 1,
 ('Career tracks', 'Pricing', 'Career track certificate', 'Courses'): 1,
 ('Pricing', 'Career track certificate', 'Courses', 'Sign up'): 1,
 ('Homepage', 'Pricing', 'Homepage', 'Courses'): 1,
 ('Pricing', 'Homepage', 'Courses', 'Pricing'): 1,
 ('Homepage', 'Courses', 'Pricing', 'Homepage'): 1,
 ('Courses', 'Pricing', 'Homepage', 'Courses'): 1,
 ('Other', 'Course certificate', 'Pricing', 'Career track certificate'): 1,
 ('Course certificate', 'Pricing', 'Career track certificate', 'Log in'): 1,
 ('Pricing', 'Career track certificate', 'Log in', 'Sign up'): 1,
 ('Pricing',
  'Career track certificate',
  'Career tracks',
  'Career track certificate'): 1,
 ('Other',
  'Career track certificate',
  'Career tracks',
  'Career track certificate'): 1,
 ('Career tracks', 'Career track certificate', 'Career tracks', 'Sign up'): 1,
 ('Homepage', 'Courses', 'Career tracks', 'Career track certificate'): 1,
 ('Courses', 'Career tracks', 'Career track certificate', 'Pricing'): 1,
 ('Other', 'Course certificate', 'Courses', 'Homepage'): 1,
 ('Course certificate', 'Courses', 'Homepage', 'Sign up'): 1,
 ('Courses', 'Homepage', 'Sign up', 'Homepage'): 1,
 ('Sign up', 'Career track certificate', 'Pricing', 'Sign up'): 1,
 ('Sign up', 'Course certificate', 'Pricing', 'Checkout'): 1,
 ('Course certificate', 'Pricing', 'Checkout', 'Pricing'): 1,
 ('Homepage', 'Career track certificate', 'Homepage', 'Course certificate'): 1,
 ('Career track certificate', 'Homepage', 'Course certificate', 'Pricing'): 1,
 ('Courses', 'Sign up', 'Courses', 'Pricing'): 1,
 ('Pricing', 'Courses', 'Career track certificate', 'Career tracks'): 1,
 ('Pricing', 'Checkout', 'Pricing', 'Courses'): 1,
 ('Checkout', 'Pricing', 'Courses', 'Career tracks'): 1,
 ('Pricing', 'Courses', 'Career tracks', 'Pricing'): 1,
 ('Courses', 'Career tracks', 'Pricing', 'Homepage'): 1,
 ('Homepage', 'Career tracks', 'Courses', 'Pricing'): 1,
 ('Career tracks', 'Courses', 'Pricing', 'Blog'): 1,
 ('Homepage', 'Pricing', 'Homepage', 'Pricing'): 1,
 ('Pricing', 'Homepage', 'Pricing', 'Courses'): 1,
 ('Pricing', 'Courses', 'Career tracks', 'Homepage'): 1,
 ('Courses', 'Career tracks', 'Homepage', 'Sign up'): 1,
 ('Career tracks', 'Homepage', 'Sign up', 'Homepage'): 1,
 ('Career tracks', 'Homepage', 'Career tracks', 'Resources center'): 1,
 ('Homepage', 'Career tracks', 'Resources center', 'Upcoming courses'): 1,
 ('Career tracks',
  'Resources center',
  'Upcoming courses',
  'Resources center'): 1,
 ('Resources center', 'Upcoming courses', 'Resources center', 'Other'): 1,
 ('Upcoming courses', 'Resources center', 'Other', 'Success stories'): 1,
 ('Homepage', 'Career tracks', 'Homepage', 'Courses'): 1,
 ('Courses', 'Sign up', 'Career tracks', 'Sign up'): 1,
 ('Sign up', 'Career tracks', 'Sign up', 'Log in'): 1,
 ('Career tracks', 'Sign up', 'Log in', 'Other'): 1,
 ('Sign up', 'Log in', 'Other', 'Log in'): 1,
 ('Log in', 'Other', 'Log in', 'Checkout'): 1,
 ('Pricing', 'Career tracks', 'Sign up', 'Career tracks'): 1,
 ('Career tracks', 'Sign up', 'Career tracks', 'Career track certificate'): 1,
 ('Sign up', 'Career tracks', 'Career track certificate', 'Courses'): 1,
 ('Career tracks', 'Career track certificate', 'Courses', 'Career tracks'): 1,
 ('Career track certificate',
  'Courses',
  'Career tracks',
  'Resources center'): 1,
 ('Homepage', 'Career track certificate', 'Pricing', 'Sign up'): 1,
 ('Homepage', 'Resources center', 'Courses', 'Sign up'): 1,
 ('Homepage', 'Course certificate', 'Courses', 'Pricing'): 1,
 ('Course certificate', 'Courses', 'Pricing', 'Sign up'): 1,
 ('Other', 'Pricing', 'Courses', 'Pricing'): 1,
 ('Pricing', 'Courses', 'Career track certificate', 'Courses'): 1,
 ('Courses', 'Career track certificate', 'Courses', 'Resources center'): 1,
 ('Homepage', 'Career track certificate', 'Pricing', 'Courses'): 1,
 ('Career track certificate', 'Pricing', 'Courses', 'Sign up'): 1,
 ('Courses', 'Career tracks', 'Courses', 'Sign up'): 1,
 ('Homepage', 'Career track certificate', 'Courses', 'Homepage'): 1,
 ('Career track certificate', 'Courses', 'Homepage', 'Sign up'): 1,
 ('Homepage', 'Sign up', 'Homepage', 'Courses'): 1,
 ('Sign up', 'Homepage', 'Courses', 'Sign up'): 1,
 ('Other', 'Sign up', 'Course certificate', 'Career track certificate'): 1,
 ('Sign up', 'Course certificate', 'Career track certificate', 'Sign up'): 1,
 ('Course certificate',
  'Career track certificate',
  'Sign up',
  'Course certificate'): 1,
 ('Career track certificate',
  'Sign up',
  'Course certificate',
  'Career track certificate'): 1,
 ('Sign up',
  'Course certificate',
  'Career track certificate',
  'Career tracks'): 1,
 ('Course certificate',
  'Career track certificate',
  'Career tracks',
  'Sign up'): 1,
 ('Homepage', 'Courses', 'Pricing', 'Resources center'): 1,
 ('Courses', 'Pricing', 'Resources center', 'Career tracks'): 1,
 ('Pricing', 'Resources center', 'Career tracks', 'Upcoming courses'): 1,
 ('Resources center', 'Career tracks', 'Upcoming courses', 'Career tracks'): 1,
 ('Career tracks', 'Upcoming courses', 'Career tracks', 'Upcoming courses'): 1,
 ('Upcoming courses', 'Career tracks', 'Upcoming courses', 'Courses'): 1,
 ('Upcoming courses', 'Courses', 'Sign up', 'Courses'): 1,
 ('Courses', 'Sign up', 'Courses', 'Course certificate'): 1,
 ('Sign up', 'Courses', 'Course certificate', 'Career tracks'): 1,
 ('Courses', 'Course certificate', 'Career tracks', 'Courses'): 1,
 ('Course certificate', 'Career tracks', 'Courses', 'Sign up'): 1,
 ('Career tracks', 'Courses', 'Sign up', 'Courses'): 1,
 ('Homepage', 'Career tracks', 'Pricing', 'Checkout'): 1,
 ('Homepage',
  'Course certificate',
  'Career track certificate',
  'Career tracks'): 1,
 ('Course certificate',
  'Career track certificate',
  'Career tracks',
  'Pricing'): 1,
 ('Career track certificate',
  'Career tracks',
  'Pricing',
  'Career track certificate'): 1,
 ('Career tracks', 'Pricing', 'Career track certificate', 'Career tracks'): 1,
 ('Pricing', 'Career track certificate', 'Career tracks', 'Sign up'): 1,
 ('Log in',
  'Career track certificate',
  'Sign up',
  'Career track certificate'): 1,
 ('Career track certificate',
  'Sign up',
  'Career track certificate',
  'Log in'): 1,
 ('Career tracks', 'Courses', 'Career tracks', 'Career track certificate'): 1,
 ('Courses', 'Career tracks', 'Career track certificate', 'Courses'): 1,
 ('Career tracks',
  'Career track certificate',
  'Courses',
  'Course certificate'): 1,
 ('Career track certificate',
  'Courses',
  'Course certificate',
  'Career track certificate'): 1,
 ('Courses',
  'Course certificate',
  'Career track certificate',
  'Career tracks'): 1,
 ('Pricing', 'Checkout', 'Homepage', 'Sign up'): 1,
 ('Homepage', 'Courses', 'Sign up', 'Homepage'): 1,
 ('Courses', 'Sign up', 'Homepage', 'Career tracks'): 1,
 ('Homepage', 'Pricing', 'Courses', 'Pricing'): 1,
 ('Instructors', 'Career track certificate', 'Career tracks', 'Courses'): 1,
 ('Sign up', 'Career tracks', 'Sign up', 'Career tracks'): 1,
 ('Career tracks', 'Sign up', 'Career tracks', 'Courses'): 1,
 ('Sign up', 'Career tracks', 'Courses', 'Career tracks'): 1,
 ('Career tracks', 'Courses', 'Career tracks', 'Pricing'): 1,
 ('Homepage', 'Course certificate', 'Pricing', 'Courses'): 1,
 ('Homepage', 'Pricing', 'Upcoming courses', 'Courses'): 1,
 ('Pricing', 'Upcoming courses', 'Courses', 'Upcoming courses'): 1,
 ('Upcoming courses', 'Courses', 'Upcoming courses', 'Sign up'): 1,
 ('Homepage', 'Course certificate', 'Pricing', 'Career track certificate'): 1,
 ('Homepage', 'Career track certificate', 'Course certificate', 'Courses'): 1,
 ('Career track certificate',
  'Course certificate',
  'Courses',
  'Career tracks'): 1,
 ('Course certificate', 'Courses', 'Career tracks', 'Sign up'): 1,
 ('Pricing', 'Course certificate', 'Sign up', 'Course certificate'): 1,
 ('Course certificate', 'Sign up', 'Course certificate', 'Sign up'): 1,
 ('Homepage', 'Career tracks', 'Pricing', 'Career tracks'): 1,
 ('Career tracks', 'Pricing', 'Career tracks', 'Homepage'): 1,
 ('Pricing', 'Career tracks', 'Homepage', 'Career tracks'): 1,
 ('Homepage', 'Pricing', 'Career tracks', 'Upcoming courses'): 1,
 ('Pricing', 'Career tracks', 'Upcoming courses', 'Courses'): 1,
 ('Other', 'Career track certificate', 'Career tracks', 'Sign up'): 1,
 ('Career track certificate', 'Career tracks', 'Sign up', 'Log in'): 1,
 ('Pricing', 'Checkout', 'Pricing', 'Checkout'): 1,
 ('Homepage', 'Courses', 'Career tracks', 'Pricing'): 1,
 ('Homepage', 'Course certificate', 'Career track certificate', 'Sign up'): 1,
 ('Course certificate', 'Career track certificate', 'Sign up', 'Courses'): 1,
 ('Career track certificate', 'Sign up', 'Courses', 'Career tracks'): 1,
 ('Sign up', 'Courses', 'Career tracks', 'Courses'): 1,
 ('Courses', 'Career tracks', 'Courses', 'Pricing'): 1,
 ('Career tracks', 'Courses', 'Pricing', 'Courses'): 1,
 ('Courses', 'Pricing', 'Courses', 'Career tracks'): 1,
 ('Pricing', 'Courses', 'Career tracks', 'Courses'): 1,
 ('Homepage', 'Pricing', 'Resources center', 'Courses'): 1,
 ('Pricing', 'Resources center', 'Courses', 'Sign up'): 1}

#### Average user journeys

In [81]:
def avg_journey_len(data=df,target_coulumn="user_journey",subcription_type='all'):
    if subcription_type!='all':
        data=filter_vai_subcription(data=df,filter=subcription_type)
        
    sum=0
    for i in data[target_coulumn]:
        sum+=len(i)
    return sum/data.shape[0]

In [85]:
avg_journey_len(subcription_type="all")

2.431111111111111